<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
  </head>
  <body>
    <h1>Edit Product</h1>
    <form action="/products/<%=product._id%>?_method=put" method="post">
      <label for="name">Product Name</label>
      <input
        type="text"
        name="name"
        placeholder="product name"
        id="name"
        value="<%=product.name%>"
      />
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        placeholder="price"
        id="price"
        value="<%=product.price%>"
      />
      <label for="category">Select Category</label>
      <select name="category" id="category">
        <% for (let category of categories) {%>
          <option value="<%= category %>" <%= product.category === category ? 'selected': '' %>><%= category %></option>
      <% } %>
      </select>
      <button>Add</button><br>
      <a href="/products/<%=product._id%>">Go Back</a>
    </form>
  </body>
</html>
